# Lots of junk goes in here.
/caches/
/backups/

# Don't commit Vim plugins, vim-plug will install them.
/link/.vim/plugged

# Don't commit rbenv temp files.
/link/.rbenv/shims/
/link/.rbenv/versions/
/link/.rbenv/version

# Local source config
/source/local.sh

# Vim stuff
*.swp
link/.vim/.netrwhist

# Vim plug
link/.vim/autoload/plug.vim.old

# rbenv
/link/.rbenv/shims/
/link/.rbenv/versions/
/link/.rbenv/version

.DS_Store

# local variables
source/01_local.sh

# temp
Code/User/

link/.tmux/plugins/
link/.tmux/resurrect/
.vscode/
