[submodule "lib/desk"]
	path = resources/desk
	url = https://github.com/jamesob/desk.git
[submodule "lib/zsh-syntax-highlighting"]
	path = resources/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "lib/vim-plug"]
	path = resources/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "lib/solarized"]
	path = resources/solarized
	url = git://github.com/altercation/solarized.git
[submodule "lib/dircolors-solarized"]
	path = resources/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "lib/zsh-completions"]
	path = resources/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "resources/dotbot"]
	path = resources/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "resources/conda-zsh-completion"]
	path = resources/conda-zsh-completion
	url = https://github.com/esc/conda-zsh-completion.git
