[user]
  name = Jamison Lofthouse
  signingkey = 75FFA55B
[include]
  path = ~/.gitconfig_local
[core]
  autocrlf = input
  whitespace = fix,space-before-tab,trailing-space
  excludesfile = ~/.gitignore_global
[apply]
  whitespace = fix
[alias]
  br = branch
  ci = commit
  co = checkout
  df = diff
  g = grep -I
  lg = log -p
  pp = !"echo 'Pull'; git pull; echo 'Push'; git push"
  rb = rbranch
  rv = review
  st = status
  sub = !"echo 'Sync'; git submodule sync; echo 'Update'; git submodule update --init --recursive"
  ff = merge --ff-only @{u}
  hard-reset = !"echo 'Reverting modified files'; git reset --hard; echo 'Removing untracked files and directories'; git clean -id"
  ane = commit --amend --no-edit
  staged = diff --staged
[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow
[color "status"]
  added = yellow
  changed = red
  untracked = cyan
[merge]
  log = true
[push]
  default = simple
[pull]
  ff = only
[rerere]
  enabled = 1
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
  insteadOf = "github:"
[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
  insteadOf = "gist:"
[url "git@heroku.com:"]
  insteadOf = "heroku:"
[init]
	defaultBranch = master
